<section id="new-products">
    <div class="container">
      <h2>Top New Products</h2>
      <div id="new-product-list" class="product-grid">
        <!-- New products will be loaded here dynamically -->
      </div>
    </div>
  </section>
  