<section id="products">
  <div class="container">
    <h2 data-aos="fade-up">Main Products: Coffee Beans</h2>
    <div id="product-list" class="product-grid">
      <!-- Products will be loaded here dynamically -->
    </div>
    <button id="show-more" onClick="window.location.href='/shopping'">Show More</button>
  </div>
</section>